@font-face {
  font-family: "Cupid Love";
  src: url(../assets/fonts/CupidLove.ttf);
}

@font-face {
  font-family: "Mali";
  src: url(../assets/fonts/Mali-Regular.ttf);
}

main {
  display: flex;
  justify-content: space-between;
  font-family: "Mali", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  background: url("../assets/images/5172214.jpg") center no-repeat fixed;
  background-size: cover;
}

.ornament-left,
.ornament-right,
.content {
  display: flex;
  flex-direction: column;
}

.ornament-left,
.ornament-right {
  width: 20%;
}

.ornament-left-first {
  height: 100%;
  background: url("../assets/images/orn\ left.png") top repeat;
  background-size: contain;
}

.ornament-right-first {
  height: 100%;
  background: url("../assets/images/orn\ right.png") top repeat;
  background-size: contain;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 1px solid black; */
}

.info,
.prokes,
.dresscode__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url("../assets/images/card-01-01.png") no-repeat;
  background-size: cover;
  box-shadow: 0 0 50px pink;
  border-radius: 2rem;
  width: 45%;
  padding: 2rem;
}

.event__description,
.info__title,
.prokes__title,
.dresscode__info__title {
  font-size: 1.5rem;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.guest__image {
  margin-bottom: 1.5em;
}

.guest__text {
  margin-bottom: 1em;
}

.guest__button {
  padding: 0.5rem 3rem;
  border: 1px solid hsla(351, 100%, 86%, 0.7);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 20px pink;
  transition: all 0.2s ease-in-out;
  font-family: "Mali";
}

.guest__button:hover {
  transform: scale(1.1);
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.event__title {
  font-family: "Cupid Love";
  font-size: 5rem;
  color: rgb(255, 128, 149);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.event__title__header {
  font-size: 9rem;
  color: rgb(182, 53, 182);
}

.guest__image,
.event__image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 45%;
}

.guest__image img,
.event__image img {
  width: 30vw;
}

.info__title {
  margin-bottom: 1rem;
  text-align: center;
}

.info__date,
.info__time,
.info__location {
  display: flex;
  align-items: center;
}

.info__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.info__location .info__icon {
  align-self: flex-start;
  margin-top: 1.25rem;
}

.dresscode {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dresscode__info {
  width: 75%;
}

.dresscode__image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 45%;
}

.dresscode__image img {
  width: 30vw;
}

.prokes {
  text-align: center;
}

.prokes ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.prokes li {
  margin-top: 2rem;
}

.prokes li img {
  width: 13%;
}

.caption {
  font-size: 5rem;
  font-family: "Cupid Love";
  color: rgb(255, 128, 149);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.footer__icons {
  display: flex;
}

.footer__icons img {
  width: 2rem;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  main {
    font-size: 0.9rem;
  }

  .ornament-left,
  .ornament-right {
    width: 20%;
  }

  .content {
    width: 53%;
  }

  .event__description,
  .info__title,
  .prokes__title,
  .dresscode__info__title {
    font-size: 1.2rem;
  }

  .event__title,
  .caption {
    font-size: 2.5rem;
  }

  .event__title__header {
    font-size: 4rem;
  }

  .guest__image,
  .event__image {
    align-items: flex-start;
  }

  .guest__image img,
  .event__image img {
    width: 60vw;
  }

  .info,
  .dresscode__info,
  .prokes {
    width: 100%;
    padding: 1.2rem;
  }

  .info__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  .dresscode {
    width: 100%;
  }

  .dresscode__info {
    padding: 1.2rem 0;
  }

  .dresscode__image img {
    width: 100%;
  }

  .prokes li img {
    width: 18%;
  }

  /* .caption {
    padding: 0.75em;
  } */
}
